@using FivePSocialNetwork.Models;
@model Question
@{
    if (Request.Cookies["user_id"] == null)
    {
        Response.Redirect("/Center/IndexCenter");
    }
    int user_id = int.Parse(Request.Cookies["user_id"].Value.ToString());
    FivePSocialNetWorkEntities db = new FivePSocialNetWorkEntities();
    User user = db.Users.Find(user_id);
    string strSelected = "selected";
    ViewBag.Title = "PostQuestion";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<style>
    .ck.ck-editor__editable_inline > :last-child {
        margin-bottom: 120px;
    }

    body {
        font-family: Arial
    }
</style>
<script src="~/assets/ckeditor5/build/ckeditor.js"></script>
<div class="header pb-6" style="">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Đặt câu hỏi</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Đặt câu hỏi</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">

        <div class="col-xl-4 order-xl-2">
            <div class="card p-3">
                <div class="">
                    <h2>Lưu ý.</h2>
                </div>
                <div>
                    <i>_Câu hỏi?</i>
                </div>
                <div>
                    Đặt tiêu đề của câu hỏi ngắn gọn, xúc tích, có các từ khóa chính của câu hỏi, để việc tìm kiếm sẽ dễ dàng hơn.
                </div>
                <div>
                    <i>_Chi tiết .</i>
                </div>
                <div>
                    Ghi đầy đủ, rỏ ràng câu hỏi của bạn, nếu có code thì càng tốt.
                </div>
                <div>
                    <i>_Công nghệ .</i>
                </div>
                <div>
                    Chọn cách công nghệ mà bài viết này có liên quan để tiện cho việc tìm kiếm, phân chia rỏ ràng các câu hỏi theo từng công nghệ.
                </div>
                <div>
                    <i>_Seo .</i>
                </div>
                <div>
                    Chọn những từ khóa chính của câu hỏi, ghi gắn gọn, để mọi người có thể dễ dàng tìm kiếm câu hỏi của bạn.
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0"> Bạn có thắc mắc gì? <i class="far fa-meh-rolling-eyes"></i></h3>
                        </div>
                        <div class="col-4 text-right">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="ui form" method="post">
                        @Html.AntiForgeryToken()
                        @if(Model != null)
                        {
                            <input type="hidden" name="question_id" value="@Model.question_id"/>
                        }
                        <h6 class="heading-small text-muted mb-4">Đặt câu hỏi?</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group field">
                                        <label class="form-control-label" for="input-address"><i class="fas fa-pen-alt"></i> Tiêu để câu hỏi?</label>
                                        <input value="@if (Model != null) { @Model.question_title} " name="question_title" class="form-control" placeholder="Tiêu đề câu hỏi" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group field">
                                        <label class="form-control-label" for="input-address"><i class="far fa-edit"></i> Chi tiết</label>
                                        <textarea class="form-control" id="editor" name="question_content" placeholder="Chi tiết">@if (Model != null) { @Model.question_content} </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address"><i class="fas fa-tags"></i> Seo</label>
                                        <div class="ui fluid multiple search selection dropdown field">
                                            @if (Model != null)
                                            {
                                                List<Tags_Question> tags_Questions = db.Tags_Question.Where(n => n.question_id == Model.question_id).ToList();
                                                <input name="strTagsQuestion" type="hidden" value="@foreach (var item in tags_Questions) { if (item.Equals(tags_Questions.Last())) {@(item.tagsQuestion_name) }else{@(item.tagsQuestion_name + ",")} }">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Từ khóa</div>
                                                <div class="menu">
                                                    <div class="item" data-value="angular">Angular</div>
                                                    <div class="item" data-value="css">CSS</div>
                                                    <div class="item" data-value="design">Graphic Design</div>
                                                    <div class="item" data-value="ember">Ember</div>
                                                    <div class="item" data-value="html">HTML</div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input name="strTagsQuestion" type="hidden">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Từ khóa</div>
                                                <div class="menu">
                                                    <div class="item" data-value="angular">Angular</div>
                                                    <div class="item" data-value="css">CSS</div>
                                                    <div class="item" data-value="design">Graphic Design</div>
                                                    <div class="item" data-value="ember">Ember</div>
                                                    <div class="item" data-value="html">HTML</div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-control-label" for="input-address"><i class="fas fa-laptop-code"></i> Công nghệ</label>

                                    @{
                                        List<Technology> technologies = db.Technologies.Where(n => n.technology_activate == true && n.technology_recycleBin == false).ToList();
                                    }
                                    <div class="form-group field">
                                        <select class="ui fluid search dropdown" name="technologyQuestion" multiple="">
                                            @foreach (var item in technologies)
                                            {
                                                if (Model != null)
                                                {
                                                    List<Teachnology_Question> teachnology_Questions = db.Teachnology_Question.Where(n => n.question_id == Model.question_id).ToList();

                                                    <option value="@item.technology_id" @foreach (var item2 in teachnology_Questions) { if (item2.technology_id == item.technology_id) { @strSelected } }>@item.technology_name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.technology_id">@item.technology_name</option>

                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success w-100 submit"><i class="far fa-paper-plane"></i> Đăng câu hỏi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $('.ui.dropdown')
        .dropdown({
            allowAdditions: true
        })
    $('.ui.form')
        .form({
            fields: {
                question_title: {
                    identifier: 'question_title',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Vui lòng nhập tiêu đề câu hỏi!'
                        }
                    ]
                },
                //question_content: {
                //    identifier: 'question_content',
                //    rules: [
                //        {
                //            type: 'empty',
                //            prompt: 'Vui lòng nhập nội dung!'
                //        },
                //        {
                //            type: 'minLength[15]',
                //            prompt: 'Nội dung câu hỏi tối thiểu 15 ký tự!'
                //        }
                //    ]
                //},
                tagsQuestion: {
                    identifier: 'tagsQuestion',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Vui lòng nhập thẻ tags!'
                        },
                        {
                            type: 'maxLength[255]',
                            prompt: 'tối thiểu 255 ký tự'
                        }
                    ]
                },
                technologyQuestion: {
                    identifier: 'technologyQuestion',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Vui lòng chọn công nghệ của câu hỏi!'
                        }
                    ]
                },
            },
            inline: true,
            on: 'blur'
        })
        ;
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'codeBlock', 'code', '|', 'bold', 'italic', 'Link', 'bulletedList', 'numberedList', '|', 'outdent', 'indent', '|', 'ImageUpload', 'blockQuote', 'insertTable', 'mediaEmbed', 'undo', 'redo']
        })
        .catch(error => {
            console.log(error);
        });
</script>