@using FivePSocialNetwork.Models;
@{
    int admin_id = int.Parse(Request.Cookies["admin_id"].Value.ToString());
    FivePSocialNetWorkEntities db = new FivePSocialNetWorkEntities();
    User admin = db.Users.Find(admin_id);
}
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="~/Image/Users/@admin.user_avatar" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            Chào @admin.user_firstName @admin.user_lastName
                            <span class="user-level">@admin.Role_User.role_name</span>
                        </span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a data-toggle="collapse" href="#dashboard">
                        <i class="fas fa-home"></i>
                        <p>Các trang</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Center/IndexCenter">
                                    <span class="sub-item">Trang user</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("IndexAdmin","HomeAdmin")">
                                    <span class="sub-item">Trang admin</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("IndexAdmin","HomeAdmin")">
                        <i class="fab fa-react"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Các bảng database</h4>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#base">
                        <i class="fas fa-users"></i>
                        <p>Users</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("Index","UsersAdmin")">
                                    <span class="sub-item">Tổng quan</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Friend","UsersAdmin")">
                                    <span class="sub-item">Database bạn bè</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Role","UsersAdmin")">
                                    <span class="sub-item">Database vai trò</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Sex","UsersAdmin")">
                                    <span class="sub-item">Database giới tính</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","TechnologyAdmin")">
                        <i class="fab fa-react"></i>
                        <p>Công nghệ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","QuestionsAdmin")">
                        <i class="fas fa-question"></i>
                        <p>Câu hỏi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Posts")">
                        <i class="fas fa-question"></i>
                        <p>Bài viết</p>
                    </a>
                </li>
                
                @*<li class="nav-item">
            <a data-toggle="collapse" href="#tables">
                <i class="fas fa-map-marked"></i>
                <p>Địa chỉ</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="@Url.Action("Provincial","AddressAdmin")">
                            <span class="sub-item">Databases Tỉnh</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("District","AddressAdmin")">
                            <span class="sub-item">Datatables huyện</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Commune","AddressAdmin")">
                            <span class="sub-item">Datatables xã</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>*@
                <li class="nav-item">
                    <a href="@Url.Action("Denounce","DenounceAdmin")">
                        <i class="fas fa-user-ninja"></i>
                        <p>Tố cáo</p>
                    </a>
                </li>
                @*<li class="nav-item">
            <a href="@Url.Action("Index","QuestionsAdmin")">
                <i class="fas fa-sticky-note"></i>
                <p>Bài viết</p>
            </a>
        </li>*@
                <li class="mx-4 mt-2">
                    <a href="@Url.Action("IndexAdmin","HomeAdmin")" class="btn btn-primary btn-block"><span class="btn-label mr-2"> <i class="fa fa-heart"></i> </span>Quay lại</a>
                </li>
            </ul>
        </div>
    </div>
</div>
