@using FivePSocialNetwork.Models;
@{
    int admin_id = int.Parse(Request.Cookies["admin_id"].Value.ToString());
    FivePSocialNetWorkEntities db = new FivePSocialNetWorkEntities();
    User admin = db.Users.Find(admin_id);
}
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="~/Image/Users/@admin.user_avatar" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            Chào @admin.user_firstName @admin.user_lastName
                            <span class="user-level">@admin.Role_User.role_name</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Các trang<p>
                            <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Center/IndexCenter">
                                    <span class="sub-item">Trang user</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("IndexAdmin","HomeAdmin")">
                                    <span class="sub-item">Trang admin</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Các bảng database</h4>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#base">
                        <i class="fas fa-users"></i>
                        <p>Users</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("Index","UsersAdmin")">
                                    <span class="sub-item">Tổng quan</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Friend","UsersAdmin")">
                                    <span class="sub-item">Database bạn bè</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Role","UsersAdmin")">
                                    <span class="sub-item">Database vai trò</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Sex","UsersAdmin")">
                                    <span class="sub-item">Database giới tính</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-question"></i>
                        <p>Câu hỏi</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("Index","QuestionsAdmin")">
                                    <span class="sub-item">Tổng quan</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("UserView","QuestionsAdmin")">
                                    <span class="sub-item">Databases người xem</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Tick","QuestionsAdmin")">
                                    <span class="sub-item">Databases đánh dấu câu hỏi</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ShowActivate","QuestionsAdmin")">
                                    <span class="sub-item">Databases họat động</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Rate","QuestionsAdmin")">
                                    <span class="sub-item">Databases đánh giá câu hỏi</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Answer","QuestionsAdmin")">
                                    <span class="sub-item">Databases đáp án</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RateAnswer","QuestionsAdmin")">
                                    <span class="sub-item">Databases đánh giá đáp án</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Comment","QuestionsAdmin")">
                                    <span class="sub-item">Databases comment</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#forms">
                        <i class="fab fa-react"></i>
                        <p>Công nghệ</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="forms">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("Index","TechnologyAdmin")">
                                    <span class="sub-item">Tổng quan</span>
                                </a>
                            </li>
                            <li>
                                <a href="forms/forms.html">
                                    <span class="sub-item">Công nghệ người dùng</span>
                                </a>
                            </li>
                            <li>
                                <a href="forms/forms.html">
                                    <span class="sub-item">Công nghệ câu hỏi</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#tables">
                        <i class="fas fa-map-marked"></i>
                        <p>Địa chỉ</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("Provincial","AddressAdmin")">
                                    <span class="sub-item">Databases Tỉnh</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("District","AddressAdmin")">
                                    <span class="sub-item">Datatables huyện</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Commune","AddressAdmin")">
                                    <span class="sub-item">Datatables xã</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#charts">
                        <i class="fab fa-adversal"></i>
                        <p>Quảng cáo</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="charts/charts.html">
                                    <span class="sub-item">Tổng quan</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Database ảnh quảng cáo</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Database vị trí</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-gavel"></i>
                        <p>Database điều khoảng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-bullhorn"></i>
                        <p>Database thông báo</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fab fa-facebook-messenger"></i>
                        <p>Database message</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-search"></i>
                        <p>Database search</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Denounce","DenounceAdmin")">
                        <i class="fas fa-user-ninja"></i>
                        <p>Database tố cáo</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#letters">
                        <i class="far fa-envelope"></i>
                        <p>Thư</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="letters">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="charts/charts.html">
                                    <span class="sub-item">Database thư</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Database ý thư</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#post">
                        <i class="far fa-edit"></i>
                        <p>Bài viết</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="post">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="charts/charts.html">
                                    <span class="sub-item">Tổng quan</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Database lượt xem</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Database đánh giá</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mx-4 mt-2">
                    <a href="@Url.Action("IndexAdmin","HomeAdmin")" class="btn btn-primary btn-block"><span class="btn-label mr-2"> <i class="fa fa-heart"></i> </span>Quay lại</a>
                </li>
            </ul>
        </div>
    </div>
</div>
