@model FivePSocialNetwork.Models.Technology
@{
    Layout = null;
}
<img src="@Model.technology_img" alt="..." class="avatar-img rounded-circle">
<label>Name: @(Model.technology_name)</label>
<label>Fullname: @(Model.technology_fullname)</label>
<label>TotalQuestion: @(Model.technology_totalQuestion)</label>
<label>Note: @(Model.technology_note)</label>

