@model List<Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@using FivePSocialNetwork.Models;
<script src="~/assets/ckeditor5/build/ckeditor.js"></script>
<div class="main-panel" ng-app="myApp">
    <div class="content">
        <div class="page-inner">
            @if (TempData["Message"] != null)
            {
                <div id="AlertBox" class="alert alert-success hide" role="alert">
                    @TempData["Message"]
                </div>
            }
            <div class="page-header">
                <h4 class="page-title">Bài viết</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Bài viết</a>
                    </li>
                </ul>
            </div>
            <div class="row" ng-controller="myCtrl">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="collapse" id="search-nav">
                                    <form class="navbar-left navbar-form nav-search mr-md-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <i class="fa fa-search search-icon btn btn-search pr-1"></i>
                                            </div>
                                            <input type="text" ng-model="txtSearch" placeholder="Search ..." class="form-control">
                                        </div>
                                    </form>
                                </div>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#recycleBin">
                                    <i class="far fa-trash-alt"></i> Thùng rác
                                </button>
                                <div class="modal fade" id="recycleBin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-slideout modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Danh sách bài viết đã xóa</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-striped">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">Stt</th>
                                                            <th scope="col">Tiêu đề</th>
                                                            <th scope="col">Người đăng</th>
                                                            <th scope="col">Lượt like</th>
                                                            <th scope="col">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            var cout = 0;
                                                            foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <th scope="row"> @(++cout) </th>
                                                                    <td>@(item.post_title)</td>
                                                                    <td>@(item?.User?.user_firstName + " " + item?.User?.user_lastName)</td>
                                                                    <td>@(item.post_totalLike)</td>
                                                                    <td><a href="#" ng-click="restore(@cout,@item.post_id)"><i class="fas fa-undo-alt"></i></a></td>
                                                                </tr>
                                                            }
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table id="add-row" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Stt</th>
                                            <th>Tiêu đề</th>
                                            <th>Người đăng</th>
                                            <th>Tùy chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                             cout = 0;
                                            foreach (var item in Model.Where(x=>x.post_recycleBin!=true))
                                            {
                                                                                <tr>
                                                                                    <th scope="row"> @(++cout) </th>
                                                                                    <td>@(item.post_title)</td>
                                                                                    <td>@(item?.User?.user_firstName + " " + item?.User?.user_lastName)</td>
                                                                                 
                                                                                    <td>
                                                                                        @{
                                                                                            if (item.post_activate == false)
                                                                                            {
                                                                                                <a href="/Admin/Posts/Active/@item.post_id" class="text-success">
                                                                                                    Duyệt
                                                                                                </a>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <a href="/Admin/Posts/Active/@item.post_id" class="text-danger">
                                                                                                    Hủy Duyệt
                                                                                                </a>
                                                                                            }
                                                                                        }

                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="form-button-action">
                                                                                            <button type="button" data-toggle="modal" data-target="#editRowModal@(item.post_id)" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                                                                <i class="fa fa-edit"></i>
                                                                                            </button>
                                                                                            <button type="button" ng-click="recycleBinPost(@cout,@item.post_id)" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                                                                <i class="fa fa-times"></i>
                                                                                            </button>
                                                                                        </div>
                                                                                        <!--Sửa-->
                                                                                        <div class="modal fade" id="editRowModal@(item.post_id)" tabindex="-1" role="dialog" aria-hidden="true">
                                                                                            <div class="modal-dialog" role="document">
                                                                                                <div class="modal-content">
                                                                                                    <div class="modal-header no-bd">
                                                                                                        <h5 class="modal-title">
                                                                                                            <span class="fw-mediumbold">
                                                                                                                Sửa
                                                                                                            </span>
                                                                                                            <span class="fw-light">
                                                                                                                bài viết
                                                                                                            </span>
                                                                                                        </h5>
                                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                            <span aria-hidden="true">&times;</span>
                                                                                                        </button>
                                                                                                    </div>
                                                                                                    <form action="@Url.Action("EditPost","Posts")" method="post">
                                                                                                        @Html.AntiForgeryToken()
                                                                                                        <div class="modal-body">
                                                                                                            <p class="small">Detail post</p>
                                                                                                            <input type="hidden" name="post_id" value="@(item.post_id)" />
                                                                                                            <div class="row">
                                                                                                                <div class="col-md-12 pr-0">
                                                                                                                    <div class="form-group form-group-default">
                                                                                                                        <label>Tiêu đề</label>
                                                                                                                        <input name="post_title" id="addPosition" required="" value="@(item.post_title)" type="text" class="form-control">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="row">
                                                                                                                <div class="col-md-12 pr-0">
                                                                                                                    <div class="form-group form-group-default">
                                                                                                                        <label>Nội dung</label>
                                                                                                                        <textarea name="post_content" id="editorContent" rows="10" required=""  type="text" class="form-control editContent"> @Html.Raw(item.post_content)</textarea>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="modal-footer no-bd">
                                                                                                            <button type="submit" id="addRowButton" class="btn btn-primary">Lưu</button>
                                                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                                                                                        </div>
                                                                                                    </form>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>

                                                                                </tr>
                                            }
                                        }
                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <pagination ng-model="currentPage"
                                    total-items="list.length"
                                    max-size="maxSize"
                                    boundary-links="true">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', ["ui.bootstrap"]);
    app.controller('myCtrl', function ($scope, $http) {
     

        $scope.recycleBinPost = function (idx, id) {
            if (confirm("Bạn chắc chắn xóa bài viết này?")) {
                $scope.filteredTodos.splice(idx, 1);
                $http.get("/Admin/Posts/RecycleBinPost?id=" + id).then(function (response) {
                    // sau khi khoi phục, khôi phục lai data
                    $http.get("/Admin/Posts/RecycleBinPostJson").then(function (response) {
                        $scope.listRecycleBin = response.data;
                    });
                });
            }
        }

        $scope.restore = function (idx, id) {
            $scope.listRecycleBin.splice(idx, 1);
            $http.get("/Admin/Posts/RecycleBinPost?id=" + id).then(function (response) {
                // sau khi khoi phục, khôi phục lai data
                $http.get("/Admin/Posts/PostJson")
                    .then(function (response) {
                        //Gia dinh
                        $scope.filteredTodos = []
                            , $scope.currentPage = 1
                            , $scope.numPerPage = 12
                            , $scope.maxSize = 5;

                        //Xac dinh list phan trang
                        $scope.makeTodos = function () {
                            $scope.list = response.data;
                        }
                        $scope.makeTodos();

                        //Phân trang
                        $scope.$watch('currentPage + numPerPage', function () {
                            var begin = (($scope.currentPage - 1) * $scope.numPerPage)
                                , end = begin + $scope.numPerPage;

                            $scope.filteredTodos = $scope.list.slice(begin, end);
                        });
                    }, function (response) {
                        // Second function handles error
                        $scope.content = "Something went wrong";
                    });
            });
        }

        $scope.activateProvincial = function (id) {
            $http.get("/Admin/AddressAdmin/ActivateProvincail?id=" + id).then(function (response) {
                $scope.myData = response.data.records;
            });

        }
        $http.get("/Admin/Posts/RecycleBinPostJson").then(function (response) {
            $scope.listRecycleBin = response.data;
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(2000).slideUp(500);
    });
    ClassicEditor
        .create(document.querySelector('#editorContent'), {
            toolbar: ['heading', '|', 'codeBlock', 'code', '|', 'bold', 'italic', 'Link', 'bulletedList', 'numberedList', '|', 'outdent', 'indent', '|', 'ImageUpload', 'blockQuote', 'insertTable', 'mediaEmbed', 'undo', 'redo']
        })
        .catch(error => {
            console.log(error);
        });

    let question = 0;
    const myTimeout = setInterval(function () {
        console.log(document.getElementsByClassName("editContent").length);
        let newquestion = document.getElementsByClassName("editContent").length;
        if (newquestion != question) {
            question = newquestion;
            $.each(document.getElementsByClassName("editContent"), function (k, v) { v.innerHTML = v.innerText })
        }


    }, 300)
</script>


