@model FivePSocialNetwork.Models.User

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<style>
    .detailUser {
        font-weight: 700;
    }

    .detailUser-content {
        font-size: 16px;
    }
</style>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="card">
                <h2 class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Thông tin chi tiết của user</div>
                        <p class="card-tools">
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </h2>
                <div class="card-body">
                    <div class="d-flex g-4 flex-row">
                        <div class='detailUser-content pr-5'>
                            <img src="~/Image/Users/@Html.DisplayFor(model => model.user_avatar)" width="300" height="300" style="padding:10px;box-shadow:0px 0px 4px #cccccc" />
                        </div>
                        <div class="flex-1">
                            <div class='detailUser-content row'>
                                <div class="col-6 mb-1">
                                    Họ tên: <span class='detailUser' style="color:#00b6c7">@Html.DisplayFor(model => model.user_firstName) @Html.DisplayFor(model => model.user_lastName)</span>
                                </div>
                                <div class="col-6 mb-1">
                                    Email:   <span class='detailUser' style="color:#00b6c7">@Html.DisplayFor(model => model.user_email)</span>
                                </div>
                                <div class="col-6 mb-1">
                                    Giới tính: <span class='detailUser'>@Html.DisplayFor(model => model.Sex_User.sex_name)</span>
                                </div>
                                <div class="col-6 mb-1">
                                    Số điện thoại: <span class='detailUser'>@Html.DisplayFor(model => model.user_phone)</span>
                                </div>
                                <div class="col-6 mb-1">
                                    Hoạt động: <span class='detailUser'>@(Model.user_activate == true ? "Đang hoạt động" : "Ngừng hoạt động") </span>
                                    </div>
                                    <div class="col-6 mb-1">
                                        Link Facebook: <span class='detailUser'>@Html.DisplayFor(model => model.user_linkFacebook)</span>
                                    </div>
                                    <div class="col-6 mb-1">
                                        Sở thích nghề nghiệp: <span class='detailUser'>@Html.DisplayFor(model => model.user_hobbyWork)</span>
                                    </div>
                                    <div class="col-6 mb-1">Sở thích: <span class='detailUser'>@Html.DisplayFor(model => model.user_hobby)</span></div>
                                    <div class="col-6 mb-1">Ngày sinh: <span class='detailUser'>@Html.DisplayFor(model => model.user_birthday)</span></div>
                                    <div class="col-6 mb-1">Link Github: <span class='detailUser'>@Html.DisplayFor(model => model.user_linkGithub)</span></div>
                                    <div class="col-6 mb-1">
                                        Xác thực Email: <span class='detailUser'>@( Model.user_emailAuthentication == true ? "Đã xác thực" : "Không xác thực")</span>
                                    </div>
                                    <div class="col-6 mb-1">
                                        Xác thực SĐT: <span class='detailUser'>@( Model.user_verifyPhoneNumber == true ? "Đã xác thực" : "Không xác thực")</span>
                                    </div>
                                    <div class="col-6 mb-1">
                                        Ngày tạo: <span class='detailUser'>@Html.DisplayFor(model => model.user_dateCreate)</span>
                                    </div>
                                    <div class="col-6 mb-1">
                                        Ngày sửa: <span class='detailUser'>@Html.DisplayFor(model => model.user_dateEdit)</span>
                                    </div>
                                </div>
                                <hr />
                                <div class='detailUser-content row'>
                                    <div class="col-6 mb-1">
                                        <div>Trạng thái Online: <span class='detailUser' style="color:red"> @( Model.user_statusOnline == true ? "Online" : "Offline")</span></div>
                                        <div>Role: <span class='detailUser' style="color:red">@Html.DisplayFor(model => model.Role_User.role_name)</span></div>
                                    </div>
                                    <div class="col-6 mb-1">
                                        <div class="mb-1">Trang web khác: <span class='detailUser'>@Html.DisplayFor(model => model.user_anotherWeb)</span></div>
                                        <div class="mb-1">Địa chỉ: <span class='detailUser'>@Html.DisplayFor(model => model.Commune.commune_name)  @Html.DisplayFor(model => model.District.district_name)  @Html.DisplayFor(model => model.Provincial.provincial_name) </span></div>
                                        <div class="mb-1">Ngày đăng nhập: <span class='detailUser'>@Html.DisplayFor(model => model.user_dateLogin)</span></div>
                                        <div class="mb-1">Độ nổi tiếng: <span class='detailUser'>@Html.DisplayFor(model => model.user_popular)</span></div>
                                        <div class="mb-1">Huy chương vàng: <span class='detailUser'>@Html.DisplayFor(model => model.user_goldMedal)</span></div>
                                        <div class="mb-1">Huy chương bạc: <span class='detailUser'>@Html.DisplayFor(model => model.user_silverMedal)</span></div>
                                        <div class="mb-1">Huy chương đồng: <span class='detailUser'>@Html.DisplayFor(model => model.user_brozeMedal)</span></div>
                                        <div class="mb-1">VIP: <span class='detailUser'>@Html.DisplayFor(model => model.user_vipMedal)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>


