
@{

    ViewBag.Title = "IndexAdmin";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    var listTechnology = (List<FivePSocialNetwork.Models.Technology>)ViewBag.ListTechnology;
    var listTopUser = (List<FivePSocialNetwork.Models.User>)ViewBag.listUserTop;
    var listQuestionTop = (List<FivePSocialNetwork.Models.Question>)ViewBag.listQuestionTop;
    var listAnswerTop = (List<FivePSocialNetwork.Models.User>)ViewBag.listAnswerTop;
    var listPostTop = (List<FivePSocialNetwork.Models.Post>)ViewBag.listPostTop;
}

<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Trang chủ</h2>
                        <h5 class="text-white op-7 mb-2">Các bảng thống kê</h5>
                    </div>
                    <div class="ml-md-auto py-2 py-md-0">
                        <p class="btn btn-white btn-border btn-round mr-2">OverSea</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row mt--2">
                <div class="col-md-6">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Thống kê câu hỏi</div>
                            <div class="card-category">Thống kê câu hỏi được đăng trong 1 tháng</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-1"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Câu hỏi đăng</h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-2"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Trả lời</h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-3"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Đánh giá</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Thống kê bài viết</div>
                            <div class="card-category">Thống kê câu hỏi được đăng trong 1 tháng</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-4"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Bài viết đăng</h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-5"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Đánh giá</h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-6"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Lượt xem</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">Thống kê đăng nhập</div>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                                        <span class="btn-label">
                                            <i class="fa fa-pencil"></i>
                                        </span>
                                        Export
                                    </a>
                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm">
                                        <span class="btn-label">
                                            <i class="fa fa-print"></i>
                                        </span>
                                        Print
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container" style="min-height: 375px">
                                <canvas id="statisticsChart"></canvas>
                            </div>
                            <div id="myChartLegend"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-primary bg-primary-gradient">
                        <div class="card-body">
                            <h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">User đang hoạt động</h4>
                            <h1 class="mb-4 fw-bold">@ViewBag.SoNguoiTruyCap</h1>
                            <h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Page view per minutes</h4>
                            <div id="activeUsersChart"></div>
                            <h4 class="mt-5 pb-3 mb-0 fw-bold">Top active pages</h4>
                            <ul class="list-unstyled">
                                <li class="d-flex justify-content-between pb-1 pt-1"><small>/product/readypro/index.html</small> <span>7</span></li>
                                <li class="d-flex justify-content-between pb-1 pt-1"><small>/product/atlantis/demo.html</small> <span>10</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Top công nghệ</div>
                        </div>
                        <div class="card-body pb-0" style="max-height:410px;overflow-y:scroll">
                            @foreach (var item in listTechnology)
                            {
                                <div class="d-flex">
                                    <div class="avatar">
                                        <img src="@item.technology_img" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                    <div class="flex-1 pt-1 ml-2">
                                        <h6 class="fw-bold mb-1">@item.technology_name</h6>
                                        <small class="text-muted">@item.technology_fullname</small>
                                    </div>
                                    <div class="d-flex ml-auto align-items-center">
                                        <h3 class="text-info fw-bold viewDetailTechnology" data-id="@item.technology_id">+</h3>
                                    </div>
                                </div>
                                <div class="separator-dashed"></div>
                            }
                            <div class="pull-in">
                                <canvas id="topProductsChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                            <div class="card-header">
                                <div class="card-title">Top User</div>
                            </div>
                            <div class="card-body pb-1" style="max-height:410px;overflow-y:scroll">
                                @foreach (var item in listTopUser)
                                {
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <img src="~/Image/Users/@item.user_avatar" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <div class="username">@(item.user_lastName + " " + item.user_firstName)</div>
                                            <div class="status">@item.user_email</div>
                                        </div>
                                        <button class="btn btn-icon btn-primary btn-round btn-xs">
                                            <i class="fa fa-plus viewDetailUser" data-id="@item.user_id"></i>
                                        </button>
                                    </div>
                                    <div class="separator-dashed"></div>
                                }
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Top câu hỏi</div>
                        </div>
                        <div class="card-body pb-0" style="max-height:550px;overflow-y:scroll;overflow-x:hidden;min-height:550px">
                        @{ int count = 1;}
                            @foreach (var item in listQuestionTop)
                            {
                                <div class="d-flex">
                                    <div style="margin-top:4px">
                                        @(count++)
                                    </div>
                                    <div class="flex-1 pt-1 ml-2">
                                        <h6 class="fw-bold mb-1 text-wrap">@item.question_title</h6>
                                        <a href="/FunctionAtDetailQuestion/DetailQuestion?id=@item.question_id"><small class="text-muted">Xem câu hỏi</small></a>
                                    </div>
                                    <div class="d-flex ml-auto align-items-center">
                                        <h3 class="text-info fw-bold">+</h3>
                                    </div>
                                </div>
                                <div class="separator-dashed"></div>
                            }
                            <div class="pull-in">
                                <canvas id="topProductsChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Top user câu trả lời đúng</div>
                        </div>
                        <div class="card-body pb-0" style="max-height:550px;overflow-y:scroll;overflow-x:hidden">
                            @foreach (var item in listAnswerTop)
                            {
                                <div class="d-flex">
                                    <div class="avatar">
                                        <img src="~/Image/Users/@item.user_avatar" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                    <div class="flex-1 pt-1 ml-2">
                                        <div class="username">@(item.user_lastName + " " + item.user_firstName)</div>
                                        <div class="status">@item.user_email</div>
                                    </div>
                                    <button class="btn btn-icon btn-primary btn-round btn-xs">
                                        <i class="fa fa-plus viewDetailUser" data-id="@item.user_id"></i>
                                    </button>
                                </div>
                                <div class="separator-dashed"></div>
                            }
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Top bài viết</div>
                        </div>
                        <div class="card-body pb-0" style="max-height: 550px; overflow-y: scroll; overflow-x: hidden; min-height: 550px">
                            @{ count = 1;}
                            @foreach (var item in listPostTop)
                            {
                                <div class="d-flex">
                                    <div>
                                        @(count++)
                                    </div>
                                    <div class="flex-1 pt-1 ml-2">
                                        <h6 class="fw-bold mb-1">@item.post_title</h6>
                                        <a href="/FunctionAtDetailPost/DetailPost?id=@item.post_id"><small class="text-muted">Xem bài viết</small></a>
                                    </div>
                                    <div class="d-flex ml-auto align-items-center">
                                        <h3 class="text-info fw-bold">+</h3>
                                    </div>
                                </div>
                                <div class="separator-dashed"></div>
                            }
                            <div class="pull-in">
                                <canvas id="topProductsChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2022, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">Sk3nwOc</a>
            </div>
        </div>
    </footer>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:600px !important">
        Modal content
        <div class="modal-content" style="width:600px">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).on("click", ".viewDetailUser", function () {
        let userId = $(this).data('id');
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        $("#myModal").modal();
        if (userId) {
            $.ajax('/Admin/HomeAdmin/_viewDetailUser?userId=' + userId,   // request url
                {
                    success: function (data, status, xhr) {// success callback function
                        $('.modal-body').html(data);
                    }
                });
        }
    });

    $(document).on("click", ".viewDetailTechnology", function () {
        let userId = $(this).data('id');
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        $("#myModal").modal();
        if (userId) {
            $.ajax('/Admin/HomeAdmin/_viewDetailTechnology?technologyId=' + userId,   // request url
                {
                    success: function (data, status, xhr) {// success callback function
                        $('.modal-body').html(data);
                    }
                });
        }
    });
</script>
